@model Solution

@{
    ViewBag.Title = "Response";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

<div class="container">
    <div class="panel panel-body">
        <h5 style="font-size: 16px"><strong>Title </strong>: @Html.Label(Model.Assignment.Title) </h5>
    </div>

    <div class="panel panel-body">
        <h5 style="font-size: 16px"><strong>Response </strong>: </h5>
        <embed src=@Url.Content(String.Format("~/Database/Solutions/{0}/{1}.pdf", Model.Username, Model.Assignment.AssignmentId)) width="100%" height="400" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    </div>



    @if (ViewBag.IsDisplay)
    {
        <div class="panel panel-body">
            @using (Html.BeginForm("Action", "Assignment", FormMethod.Post))
            {
            @Html.HiddenFor(s => s.SolutionId)
            @Html.HiddenFor(s => s.AssignmentId)

            <h5 style="font-size: 16px"><strong> Comment </strong>: </h5>
            @Html.TextAreaFor(s => s.Comment, new {  style = "width: 100", placeholder = "Enter Comment Here.." })
            <br />
            <input class="btn btn-primary" type="submit" name="Approve" value="Approve" />
            <input class="btn btn-primary" type="submit" name="Reject" value="Reject" />
            }
        </div>
    }
    else
    {
        if (Model.Comment != null)
        {
            <div class="panel panel-body">
                <h5 style="font-size: 16px"><strong>Comment </strong>: </h5>
                @Model.Comment
            </div>
        }
    }


</div>

