@model XorHub.Models.AssignmentSolutionModel

@{
    ViewBag.Title = "TeacherResponse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

<div class="container">
    <div class="panel panel-body">
        <h5 style="font-size: 16px"><strong>Title </strong>: @Model.Assignment.Title </h5>
        <h5 style="font-size: 16px"><strong>Batch </strong>: @Model.Assignment.BatchId </h5>
    </div>
  
    <div class="panel panel-body">
        <embed src=@Url.Content(String.Format("{0}", ViewBag.filePath)) width="100%" height="400" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    </div>

    <div class="panel panel-body">
        @using (Html.BeginForm("submit", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(u => u.Assignment.AssignmentId)

            <div>
                <h4>Responses</h4>
                @foreach (Solution sol in (IEnumerable<Solution>)ViewBag.solutions)
                {
                    <div class="row response">
                        <a href=@Url.Content(string.Format("/Assignment/Response/{0}", sol.SolutionId))>
                            <div class="col-md-4">
                                <h5><strong>  @sol.Username</strong> </h5>
                            </div>
                            <div class="col-md-2">
                                <small> @sol.UploadedOn</small>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                Status :
                                @switch (sol.Stat)
                                {
                                    case "P":
                                        @Html.Label("Pending")
                                        break;

                                    case "A":
                                        @Html.Label("Approved")
                                        break;

                                    case "R":
                                        @Html.Label("Rejected")
                                        break;

                                    default:
                                        break;
                                }
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
    </div>

</div>


